tr.TableRowClosed td, tr.TableRowClosed td a {
    border: none;
    background-color: lightgray;
    color: gray;
}

tr.TableRowComplete td, tr.TableRowComplete td a {
    border: none;
    background-color: #ACE1AF;
    color: green;
}

tr.TableRowDateHeader td {
    border-top: 2px solid gray;
}

tr.TableRowDateHeader.TableRowComplete td {
    border-top: 2px solid green;
}

tr.TableRowDateHeader td.TableRowStatusHours {
    font-weight: bold;
    color: chocolate;
}
